.App {
  font-family: sans-serif;
  text-align: center;
}
.sidebarContainer {
  width: 150px;
  padding: 20px;
}
.sidebarTitle {
  font-size: 20px;
  font-weight: 600;
  color: rgba(0, 55, 131, 1);
  text-align: center;
  margin-bottom: 20px;
}
.sidebarOption {
  margin-bottom: 15px;
  cursor: pointer;
}
